* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.centering {
    display: flex;
    align-items: center;
    padding-left: 500px;
}

body {
    background-color: #0B1D26;
    color: #fff;
    background-image: url("./../img/homepage/mainpage.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header {
    padding: 0 15px;
    padding-bottom: 843px;
}

.header-container {
    max-width: 1760px;
    margin: 0 auto;    
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 198px;
}

.logo {
    font-family: 'Chronicle Display', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.nav {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li + li {
    margin-left: 40px;
}

.nav a {
    transition: all 0.2s ease-in;
}

.nav a:hover {
    color: #0a1c26;
    border-bottom: 1px solid #0a1c26;
}

.nav li:active {
    transform: translateY(1px);
}

.log-in {
    position: relative;
    font-family: 'Gilroy', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.log-in a {
    transition: all 0.2s ease-in;
}

.log-in a:hover {
    color: #0a1c26;
    border-bottom: 1px solid #0a1c26;
}

.log-in:hover svg path {
    fill: #000;
}

svg path {
    transition: all 0.2s ease-in;
}

.svg-move {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
}

.log-in:active {
    transform: translateY(1px);
}

/* HOME */

.home {
    max-width: 950px; 
}

.home-hover {
    transition: transform 0.8s cubic-bezier(.37,.43,.46,1.67);
}

.home-hover:hover {
    transform: translateY(-5%);
}

.list-paragraph {
    display: inline-block;
    margin-bottom: 32px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.225;
    font-weight: 800;
    letter-spacing: 6px;
    color: #FBD784;
}

.list-paragraph::before {
    position: absolute;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    left: -104px;
    top: 50%;
    transform: translateY(-50%);
}

.list-title {
    margin-bottom: 32px;
    text-transform: capitalize;
    font-family: 'Chronicle Display', sans-serif;
    font-size: 70px;
    line-height: 1.136;
    font-weight: 600;
}

.down-navigate {
    display: inline-block;
    position: relative;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.208;
    font-weight: 700;
}

.down-navigate::after {
    display: block;
    position: absolute;
    content: "";
    background-image: url(./../img/homepage/arrow-down.svg);
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 24px;
}

/* MAIN */

.main {
   padding-bottom: 200px;
}

.main-container {
    max-width: 1462px;
    margin: 0 auto;
}

.content-01 {
    padding-left: 150px;
    display: flex;
    column-gap: 114px;
    padding-bottom: 200px;
}

.content-02 {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 264px;
    padding-bottom: 200px;
}

.description {
    position: relative;
    display: flex;
    padding-top: 141px;
    flex-direction: column;
    max-height: 439px;
    max-width: 632px;
}

.description::before {
    display: block;
    position: absolute;
    content: attr(data-number);
    font-family: 'Gilroy', sans-serif;
    font-size: 240px;
    line-height: 1;
    font-weight: 700;
    opacity: 10%;
    left: -149px;
    top: 37px;
    
}

.content-preview {
    position: relative;
    padding-left: 96px;
    padding-bottom: 27px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.225;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.content-preview::before {
    position: absolute;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    left: 0;
    top: 11px;
}

.content-title {
    padding-bottom: 27px;
    font-family:'Chronicle Display', sans-serif ;
    font-weight: 375;
    font-size: 64px;
    line-height: 1.2;
}

.content-description {
    padding-bottom: 27px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.777;
}

.more {
    position: relative;
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.208;
    color: #FBD784;
}

.more::after {
    background-image: url('./../img/main/arrow-right.svg');
    position: absolute;
    content: "";
    display: block;
    background-size: contain;
    width: 24px;
    height: 16px;
    left: 109px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in;
}

.more:hover {
    color: #D6AE52;
}

.more:active {
    transform: translateY(1px);
}

.content-03 {
    display: flex;
    column-gap: 114px;
    padding-left: 150px;
}

/* FOOTER */

.footer {
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-descr {
    display: flex;
    flex-direction: column;
    margin-right: 543px;
}

.footer-logo {
    font-family:'Chronicle Display', sans-serif ;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 24px;
}

.footer-descr-paragraph {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.777;
}

.footer-copyright {
    margin-top: auto;
    font-family: 'Gilroy', sans-serif;
    font-weight: 375;
    font-size: 18px;
    line-height: 1.777;
    opacity: 0.5;
}

.footer-contacts {
    margin-right: 212px;
    display: flex;
    flex-direction: column;

}

.footer-contacts-title {
    color: #FBD784;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    margin-bottom: 24px;
    white-space: nowrap;
}

.footer-navigate {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.777;
    padding: 0;
}

.footer-navigate a {
    transition: all 0.2s ease-in;
}

.footer-navigate a:hover {
    color: #b3bbbd;
    border-bottom: 1px solid #b3bbbd;
}

.footer-navigate li:active {
    transform: translateY(1px);
}

.footer-navigate li + li {
    margin-top: 16px;
}

.MoreAboutCompany {
    display: flex;
    flex-direction: column;
}

