* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.no-scroll {
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.centering {
    display: flex;
    align-items: center;
}

body {
    background-color: #0B1D26;
    color: #fff;
    background-image: url("./../img/homepage/mainpage.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.header {
    padding: 0 15px;
    padding-bottom: 843px;
}

.header-container {
    max-width: 1760px;
    margin: 0 auto;    
}

.header-container .centering {
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 198px;
}

.logo {
    font-family: 'Chronicle Display', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.nav {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li + li {
    margin-left: 40px;
}

.nav a {
    transition: all 0.2s ease-in;
}

.nav a:hover {
    color: #0a1c26;
    border-bottom: 1px solid #0a1c26;
}

.nav li:active {
    transform: translateY(1px);
}

.mobile-nav {
    padding-top: 110px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(3, 21, 29);
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-weight: 700;
    z-index: 8;
}

.mobile-nav a {
    transition: all 0.2s ease-in;
}

.mobile-nav a:hover {
    border-bottom: 1px solid #fff;
}

.log-in {
    position: relative;
    font-family: 'Gilroy', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.log-in a {
    transition: all 0.2s ease-in;
}

.log-in a:hover {
    color: #0a1c26;
    border-bottom: 1px solid #0a1c26;
}

.log-in:hover svg path {
    fill: #000;
}

svg path {
    transition: all 0.2s ease-in;
}

.svg-move {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-nav li + li {
    margin-top: 40px;
}

.mobile-nav li:active {
    transform: translateY(1px);
}

.mobile-svg-relative {
    position: relative;
}

.svg-mobile-account {
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
}

.log-in:active {
    transform: translateY(1px);
}

.nav-btn-media {
    right: 15px;
    position: fixed;
    display: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    background: none;
    height: 25px;
    z-index: 9;
}

.burger {
    display: none;
    display: block;
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #fff;
}

.burger::before {
    position: absolute;
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff;
    left: 0;
    top: -10px;
}

.burger::after {
    position: absolute;
    display: block;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff;
    left: 0;
    bottom: -10px;
}

.nav-btn-close .burger {
    background-color: transparent;
}

.nav-btn-close .burger:before {
    transform: rotate(45deg);
    top: 0;
}

.nav-btn-close .burger:after {
    transform: rotate(-45deg);
    top: 0;
}

/* HOME */

.home {
    max-width: 950px; 
}

.home-hover {
    transition: all 0.8s cubic-bezier(.37,.43,.46,1.67);
}

.home-hover:hover {
    transform: translateY(-5%);
}

.list-paragraph {
    display: inline-block;
    margin-bottom: 32px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.225;
    font-weight: 800;
    letter-spacing: 6px;
    color: #FBD784;
}

.list-paragraph::before {
    position: absolute;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    left: -104px;
    top: 50%;
    transform: translateY(-50%);
}

.list-title {
    margin-bottom: 32px;
    text-transform: capitalize;
    font-family: 'Chronicle Display', sans-serif;
    font-size: 70px;
    line-height: 1.136;
    font-weight: 600;
    text-shadow: 1px 1px #000;
}

.down-navigate {
    display: inline-block;
    position: relative;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.208;
    font-weight: 700;
}

.down-navigate::after {
    display: block;
    position: absolute;
    content: "";
    background-image: url(./../img/homepage/arrow-down.svg);
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 24px;
}

/* MAIN */

.main {
   padding-bottom: 150px;
}

.section-container {
    max-width: 1492px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.article + .article {
    margin-top: 200px;
}

.article:nth-child(even) {
    flex-direction: row-reverse;
}

.article-text {
    position: relative;
    padding-left: 150px;
    max-width: 782px;
}

.article-text::before {
    display: block;
    position: absolute;
    content: attr(data-number);
    font-family: 'Gilroy', sans-serif;
    font-size: 240px;
    line-height: 1;
    font-weight: 700;
    opacity: 10%;
    left: 0;
    top: 0;
    width: 240px;
    height: 240px;
    transform: translateY(-50%);
}

.article-subtitle {
    position: relative;
    padding-left: 96px;
    padding-bottom: 27px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.225;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.article-subtitle::before {
    position: absolute;
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    left: 0;
    top: 11px;
}

.article-title {
    padding-bottom: 27px;
    font-family:'Chronicle Display', sans-serif ;
    font-weight: 375;
    font-size: 64px;
    line-height: 1.2;
}

.article-description {
    font-family: 'Gilroy', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    margin-bottom: 27px;
}

.article-read-more {
    position: relative;
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.208;
    color: #FBD784;
    display: block;
}

.article-read-more::after {
    background-image: url('./../img/main/arrow-right.svg');
    position: absolute;
    content: "";
    display: block;
    background-size: contain;
    width: 24px;
    height: 16px;
    left: 109px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in;
}

.article-read-more:hover {
    color: #D6AE52;
}

.article-read-more:active {
    transform: translateY(1px);
}

.article-img {
    max-width: 566px;
    max-height: 720px;
    width: 50%;
    height: auto;
    display: block;
}

.article-img img {
    display: block;
    max-width: 100%;
}

/* FORM */

.join-us {
    text-align: center;
}

.join-us-title {
    padding-bottom: 10px;
    font-family:'Chronicle Display', sans-serif ;
    font-weight: 375;
    font-size: 45px;
    line-height: 1.2;
}

.join-us-description {
    padding-bottom: 20px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.777;
}

.form {
    padding-left: 55px;
    padding-right: 55px;
}

.form-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    column-gap: 20px;
}

.form-left {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.upper-block {
    display: flex;
    flex-direction: column;
}

.upper-block input:first-child {
    margin-bottom: 20px;
}

.lower-block {
    display: flex;
    flex-direction: column;
}

.lower-block input:first-child {
    margin-bottom: 20px;
}

.form-right {
    min-width: 650px;
}

.form-input {
    border: 1px solid #dadada;
    border-radius: 50px;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
    outline: none;
}

.form-select {
    border: 1px solid #dadada;
    border-radius: 50px;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
    outline: none;
}

.form-textarea {
    border: 1px solid #dadada;
    border-radius: 20px;
    padding: 16px 28px;
    width: 100%;
    height: 140px;
    resize: none;
}

.form-bottom {
    display: flex;
    justify-content: flex-end;
}

.form-btn {
    min-width: 213px;
    padding: 10px 30px;
    margin-bottom: 9px;
    background-color: #FBD784;
    border: none;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.777;
    text-transform: uppercase;
    text-shadow: 1px 1px 50px #0a1c26;
    cursor: pointer;
    border-radius: 50px;
}

.form-btn:active {
    transform: translateY(1px);
}

.checkbox {
    cursor: pointer;
}

.form-check {
    font-size: 15px;
    line-height: 16px;
    color: #787878;
    white-space: nowrap;
}

.form-check input {
    margin-right: 8px;
}

.form-check a {
    color: #295b94;
    border-bottom: 1px solid #295b94;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 160px;
}

/* FOOTER */

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-descr {
    display: flex;
    flex-direction: column;
    margin-right: auto
}

.footer-logo {
    font-family:'Chronicle Display', sans-serif ;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 24px;
}

.footer-descr-paragraph {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.777;
    max-width: 303px;
}

.footer-copyright {
    margin-top: auto;
    font-family: 'Gilroy', sans-serif;
    font-weight: 375;
    font-size: 18px;
    line-height: 1.777;
    opacity: 0.5;
}

.footer-contact-wrapper {
    display: flex;
    column-gap: 212px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts-title {
    color: #FBD784;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    margin-bottom: 24px;
    white-space: nowrap;
}

.footer-navigate {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.777;
    padding: 0;
}

.footer-navigate a {
    transition: all 0.2s ease-in;
}

.footer-navigate a:hover {
    color: #b3bbbd;
    border-bottom: 1px solid #b3bbbd;
}

.footer-navigate li:active {
    transform: translateY(1px);
}

.footer-navigate li + li {
    margin-top: 16px;
}

.MoreAboutCompany {
    display: flex;
    flex-direction: column;
}

